{% extends "base.html" %}

{% block title %}关于本站 - 我的Django博客{% endblock %}

{% block content %}
<div class="page-header text-center">
    <h1>关于本站</h1>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="about-section">
            <h2>建站初衷</h2>
            <p>
                本站是一个blog（博客）网站，所以建站的初衷，是分享自己在生活中的零碎，开心与不开心；
                也是分享自己在学习计算机中，所得到的知识；更多的是，提升自己的能力，丰富自己的阅历，广交人脉。
            </p>
        </div>

        <div class="about-section">
            <h2>建站来源</h2>
            <p>
                我是一个前端小白，也只会简单的html+css，js不会，所以本网站并不是我从头到脚的写代码，
                我做的任务是搭建，本网站是一个开源项目，其基于宝塔面板搭建，使用了Argon Design System前端框架，
                其来源于:
            </p>
            <ul>
                <li>入坑大佬：<a href="https://www.liveout.cn" target="_blank">https://www.liveout.cn</a></li>
                <li>argon主题作者：<a href="https://github.com/solstice23/argon-theme" target="_blank">https://github.com/solstice23/argon-theme</a></li>
            </ul>
        </div>

        <div class="about-section">
            <h2>关于作者</h2>
            <p>
                博主是一个社畜大二学生咯，会一点点的后端，还是个很菜很菜的，很需要大佬带带～～～学习的是云计算专业，
                对于这个专业，我还是比较喜欢的，怎么说呢？也许是对计算机的热爱，对这方面很感兴趣，
                总所周知，兴趣是动力，是契机，是基础。哎，学习的路上太艰难了，还有很多要学的呢。
            </p>
            <p>
                是打算在学习一点前端嘞，是打算在空闲时间学习这些，我相信自己能做到，奥你给！！
            </p>
            <p>
                docker，nginx，php，docker，JavaScript，vue2，vue3，路还远呐！！！
            </p>
        </div>

        <div class="about-section">
            <h2>网站预期</h2>
            <p>
                今后我会在本博客发布一些关于学业上面的一些个人心得与体会，会分享很多好玩的东西，方方面面。
                若我分享的内容中有错误或者不完整的地方，希望各位大佬能够帮我指正，我会修改。
            </p>
        </div>

        <div class="contact-methods">
            <h2>可以通过以下方式联系我</h2>
            <ul>
                <li><strong>QQ：</strong>2639131093</li>
                <li><strong>微信：</strong>cc18312010327</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}